<%- include('partials/header'); %>
<title>Dashboard</title>
<%- include('partials/layout') %>
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Dashboard</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Dashboard</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->
<main>
  <p>Hello welcome to dashboard</p>
  <p>You are <%= locals.name %></p>
  <br />
  <p>Link to home page: <a href="/">Home</a></p>
  <p>Link to change password: <a href="/auth/change">Change password</a></p>
  <p>Link to your profile: <a href="/profile/<%= locals.name %>">Profile</a></p>
  <p>View your staffs: <a href="/staffs/">Staffs</a></p>
  <p>View your suppliers: <a href="/suppliers/">Suppliers</a></p>
  <p>View your inventory: <a href="/inventory/">Inventory</a></p>
  <p>Manage orders: <a href="/orders/">Orders</a></p>
  <p>404 page: <a href="/does/not/exist/">non-existent</a></p>
  <p>Thank you visit again: <a href="/auth/logout">Logout</a></p>
</main>
<%- include('partials/footer') %>
