<%- include('partials/header'); %>
<title>Error (<%= locals.code ?? 500 %>) <%= locals.desc ?? 'Internal server error' %></title>
<%- include('partials/layout'); %>
<main>
  <h2><%= desc %></h2>
  <div>
      <p><a href="#!"><%= url; %></a></p>
      <p>Error code: <%= code; %></p>
      <p>Description: <%= desc; %></p>
  </div>
  <% if (locals.stack) { %>
    <div class="stack">
      <p>Stack trace:</p>
      <pre><%= stack %></pre>
    </div>
  <% } %>
</main>
<%- include('partials/footer'); %>
