<%- include('partials/header'); %>
<title>Forgot password</title>
<%- include('partials/layout'); %>
<main>
  <% if (locals.error) { %>
    <p>Error: <%= error %></p>
  <% } else { %>
    <form action="/auth/forgot" method="post">
      <input type="hidden" name="rid" value="<%= rid %>" />
      <p>Hint question: <%= hintq %></p>
      <p>Answer: <input type="text" name="ans" /></p>
      <p>New password: <input type="password" name="password" /></p>
      <p><button>Submit</button></p>
    </form>
  <% } %>
</main>
