<%- include('partials/header'); %>
<title>Inventory</title>
<%- include('partials/layout'); %>
<main>
  <div class="container-flex">
    <h2>Inventory</h2>
    <div class="accordion">
      <% for (const med of medicines) { %>
        <div class="collapse">
          <p class="accordion-header" tabindex="0"><%= med['Medicine_name'] %></p>
          <div class="accordion-body">
            <ul class="dll">
              <li><span>Name: </span><span><%= med['Medicine_name'] %></span></li>
              <li><span>MRP: </span><span><%= med['MRP'] %></span></li>
              <li><span>Stock: </span><span><%= med['Stock'] %></span></li>
            </ul>
            <p class="row">
              <a href="/inventory/edit?name=<%= encodeURI(med['Medicine_name']) %>" class="button small">Edit</a>
              <a href="/inventory/delete?name=<%= encodeURI(med['Medicine_name']) %>" class="button small">Delete</a>
            </p>
          </div>
        </div>
      <% } %>
    </div>
    <div class="row">
      <a href="/inventory/add" class="button">Add medicine</a>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
