<%- include('partials/header'); %>
<title>Inventory</title>
<%- include('partials/layout'); %>
<main>
  <% for (const med of medicines) { %>
    <div>
      <p><span>Name: </span><span><%= med['Medicine_name'] %></span></p>
      <p><span>MRP: </span><span><%= med['MRP'] %></span></p>
      <p><span>Stock: </span><span><%= med['Stock'] %></span></p>
      <p><span><a href="/inventory/edit?name=<%= med['Medicine_name'] %>">Edit</a></span><span><a href="/inventory/delete?name=<%= med['Medicine_name'] %>">Delete</a></span></p>
    </div>
  <% } %>
</main>
<%- include('partials/footer') %>
