<%- include('partials/header'); %>
  <title>Edit <%= med['Medicine_name'] %></title>
	<link rel="stylesheet" href="/css/forms.css" />
	<script src="/js/forms.js" defer></script>
<%- include('partials/layout'); %>
<main>
	<div class="form-container">
    <form action="/inventory/edit?name=<%= encodeURI(med['Medicine_name']) %>" method="post">
			<div>
				<h2 class="center">Edit Medicine</h2>
			</div>
      <div>
        <% if (locals.error) { %>
          <% for (const message of error) { %>
            <div class="alert error">
              <p><%= message %></p>
              <button type="button" class="btn-close"></button>
            </div>
          <% } %>
        <% } %>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="name" placeholder="Medicine name" maxlength="40" value="<%= med['Medicine_name'] %>" readonly />
            <span>Medicine name:</span>
            <i class="suffix-btn edit"></i>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="number" name="mrp" placeholder="MRP" value="<%= med['MRP'] %>" readonly />
            <span>MRP:</span>
            <i class="suffix-btn edit"></i>
          </label>
          <p><span class="error"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="number" name="stock" placeholder="Stock" value="<%= med['Stock'] %>" readonly />
            <span>Stock:</span>
            <i class="suffix-btn edit"></i>
          </label>
          <p><span class="error"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <button class="button">Submit</button>
        </div>
      </div>
		</form>
	</div>
</main>
<%- include('partials/footer') %>
