<%- include('partials/header'); %>
<title>Inventory</title>
<%- include('partials/layout'); %>
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Inventory</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Inventory</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->
<main>
  <div class="container-flex">
    <h2>Inventory</h2>
    <div>
      <% if (locals.error) { %>
        <% for (const message of error) { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p><%= message %></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
      <% } %>
      <% if (locals.success) { %>
        <% for (const message of success) { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p><%= message %></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
      <% } %>
    </div>
    <div class="accordion" id="meds">
      <% for (let i = 0; i < medicines.length; i++) { const med = medicines[i]; %>
        <div class="accordion-item">
          <p class="accordion-header" tabindex="0">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#med<%= i %>" aria-expanded="false" aria-controls="#med<%= i %>" id="heading<%= i %>"><%= med['Medicine_name'] %></button>
          </p>
          <div class="accordion-collapse collapse" id="med<%= i %>" aria-labelledby="heading<%= i %>" data-bs-parent="#meds">
            <div class="accordion-body">
              <ul class="dll">
                <li><span>Name: </span><span><%= med['Medicine_name'] %></span></li>
                <li><span>MRP: </span><span><%= med['MRP'] %></span></li>
                <li><span>Stock: </span><span><%= med['Stock'] %></span></li>
              </ul>
              <p class="row">
                <a href="/inventory/edit?name=<%= encodeURI(med['Medicine_name']) %>" class="button small col-md-5 col-7">Edit</a>
                <a href="/inventory/delete?name=<%= encodeURI(med['Medicine_name']) %>" class="button small col-md-5 col-7">Delete</a>
              </p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <div class="row">
      <a href="/inventory/add" class="button">Add medicine</a>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
