<%- include('partials/header'); %>
<title>Login</title>
<link rel="stylesheet" href="/css/forms.css" />
<script src="/js/forms.js" defer></script>
<script src="/js/login.js" defer></script>
<script src="/js/validators/util.js" defer></script>
<%- include('partials/layout'); %>
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Login</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Accounts</li>
        <li>Login</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->
<main>
  <div class="form-container">
    <% const url = locals.redirect ?? ''; %>
    <form id="login" action="<%= '/auth/login?' + url %>" method="post">
      <div>
        <h2 class="center">Login</h2>
      </div>
      <div>
        <% if (locals.error) { %>
          <% for (const message of error) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <p><%= message %></p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% } %>
        <% } %>
        <% if (locals.success) { %>
          <% for (const message of success) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <p><%= message %></p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% } %>
        <% } %>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="username" placeholder="Username" maxlength="25" <% if (locals.username) { %> value="<%= username %>" <% } %> />
            <span>Username:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <i class="eye suffix password"></i>
            <input type="password" name="password" placeholder="Password" maxlength="32" value="" />
            <span>Password:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="center"><a class="toggleForm scrollto" href="#forgot">Forgot Password</a></div>
      </div>
      <div>
        <div class="center">New user? <a href="/auth/register">Sign up</a></div>
      </div>
      <div>
        <div class="field">
          <button class="button">Submit</button>
        </div>
      </div>
    </form>
    <form id="forgot" class="hidden" action="/auth/forgot" method="get">
      <div>
        <h2 class="center">Forgot Password</h2>
      </div>
      <div>
        <% if (locals.error) { %>
          <% for (const message of error) { %>
            <div class="alert error">
              <p><%= message %></p>
              <button type="button" class="btn-close"></button>
            </div>
          <% } %>
        <% } %>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="username" placeholder="Username" maxlength="25" <% if (locals.username) { %> value="<%= username %>" <% } %> />
            <span>Username:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="center"><a class="toggleForm scrollto" href="#login">Login</a></div>
      </div>
      <div>
        <div class="field">
          <button class="button">Submit</button>
        </div>
      </div>
    </form>
  </div>
</main>
<%- include('partials/footer'); %>
