<%- include('partials/header'); %>
  <title>Add order</title>
	<link rel="stylesheet" href="/css/forms.css" />
	<script src="/js/forms.js" defer></script>
<%- include('partials/layout'); %>
<main>
	<div class="form-container">
		<form action="/orders/add" method="post" class="big">
			<div>
				<h2 class="center">Add order</h2>
			</div>
      <div>
        <% if (locals.error) { %>
          <% for (const message of error) { %>
            <div class="alert error">
              <p><%= message %></p>
              <button type="button" class="btn-close"></button>
            </div>
          <% } %>
        <% } %>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="name" placeholder="Medicine name" maxlength="40" <% if(locals.name){ %> value="<%= name %>" <% } %> />
            <span>Medicine name:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="number" name="quantity" placeholder="Quantity" maxlength="40" <% if(locals.contact){ %> value="<%= contact %>" <% } %> />
            <span>Quantity:</span>
          </label>
          <p><span class="error"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="number" name="mrp" placeholder="Price" <% if(locals.address){ %> value="<%= address %>" <% } %> />
            <span>Price:</span>
          </label>
          <p><span class="error"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="date" name="ordate" placeholder="Order date" <% if(locals.jobrole){ %> value="<%= jobrole %>" <% } %> />
            <span>Order date:</span>
          </label>
          <p><span class="error"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <select name="supplier">
              <% for (const sup of suppliers) { %>
                <option value="<%= sup['Supplier_id'] %>"><%= sup['Supplier_name'] %></option>
              <% } %>
            </select>
            <span>Supplier:</span>
          </label>
          <p><span class="error"></span></p>
          <p><span class="hint">Click here to <a href="/suppliers/add">add supplier</a></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <button class="button">Submit</button>
        </div>
      </div>
		</form>
	</div>
</main>
<%- include('partials/footer') %>
