<%- include('partials/header'); %>
  <title><%= ret['Retailer_name'] %></title>
	<link rel="stylesheet" href="/css/forms.css" />
	<script src="/js/forms.js" defer></script>
<%- include('partials/layout'); %>
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Profile</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Profile</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->
<main>
	<div class="form-container">
    <form action="/profile/edit" method="post">
			<div>
				<h2 class="center"><%= ret['Retailer_name'] %></h2>
			</div>
      <%- include('partials/alert') %>
      <div>
        <div class="field">
          <label>
            <input type="text" name="name" placeholder="Retailer name" maxlength="40" value="<%= ret['Retailer_name'] %>" readonly />
            <span>Retailer name:</span>
          </label>
          <p><span class="error"></span><span class="counter hidden"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="contact" placeholder="Retailer contact" maxlength="40" value="<%= ret['Retailer_contact'] %>" readonly />
            <span>Retailer contact:</span>
          </label>
          <p><span class="error"></span><span class="counter hidden"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="email" placeholder="Retailer email" maxlength="40" value="<%= ret['Retailer_email'] %>" readonly />
            <span>Retailer email:</span>
          </label>
          <p><span class="error"></span><span class="counter hidden"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="address" placeholder="Retailer address" maxlength="40" value="<%= ret['Retailer_address'] %>" readonly />
            <span>Retailer address:</span>
          </label>
          <p><span class="error"></span><span class="counter hidden"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
		</form>
	</div>
</main>
<%- include('partials/footer') %>
