<%- include('partials/header'); %>
  <title>Add staff</title>
	<link rel="stylesheet" href="/css/forms.css" />
	<script src="/js/forms.js" defer></script>
<%- include('partials/layout'); %>
<main>
	<div class="form-container">
		<form action="/staffs/add" method="post" class="big">
			<div>
				<h2 class="center">Add staff</h2>
			</div>
      <div>
        <% if (locals.error) { %>
          <% for (const message of error) { %>
            <div class="alert error">
              <p><%= message %></p>
              <button type="button" class="btn-close"></button>
            </div>
          <% } %>
        <% } %>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="name" placeholder="Staff name" maxlength="40" <% if(locals.name){ %> value="<%= name %>" <% } %> />
            <span>Staff name:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="contact" placeholder="Staff contact" maxlength="40" <% if(locals.contact){ %> value="<%= contact %>" <% } %> />
            <span>Staff contact:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="email" placeholder="Staff email" maxlength="40" <% if(locals.email){ %> value="<%= email %>" <% } %> />
            <span>Staff email:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="address" placeholder="Staff address" maxlength="40" <% if(locals.address){ %> value="<%= address %>" <% } %> />
            <span>Staff address:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="jobrole" placeholder="Job role" maxlength="40" <% if(locals.jobrole){ %> value="<%= jobrole %>" <% } %> />
            <span>Job role:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="salary" placeholder="Salary" maxlength="40" <% if(locals.salary){ %> value="<%= salary %>" <% } %> />
            <span>Salary:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <button class="button">Submit</button>
        </div>
      </div>
		</form>
	</div>
</main>
<%- include('partials/footer') %>
