<%- include('partials/header'); %>
  <title>Add staff</title>
	<link rel="stylesheet" href="/css/forms.css" />
	<script src="/js/forms.js" defer></script>
<%- include('partials/layout'); %>
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Add staff</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/staffs">Staff</a></li>
        <li>Add staff</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->
<main>
	<div class="form-container">
		<form action="/staffs/add" method="post" class="big">
			<div>
				<h2 class="center">Add staff</h2>
			</div>
      <%- include('partials/alert') %>
      <div>
        <div class="field">
          <label>
            <input type="text" name="name" placeholder="Staff name" maxlength="40" <% if(locals.name){ %> value="<%= name %>" <% } %> />
            <span>Staff name:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="contact" placeholder="Staff contact" maxlength="40" <% if(locals.contact){ %> value="<%= contact %>" <% } %> />
            <span>Staff contact:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="email" placeholder="Staff email" maxlength="40" <% if(locals.email){ %> value="<%= email %>" <% } %> />
            <span>Staff email:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="address" placeholder="Staff address" maxlength="40" <% if(locals.address){ %> value="<%= address %>" <% } %> />
            <span>Staff address:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="jobrole" placeholder="Job role" maxlength="40" <% if(locals.jobrole){ %> value="<%= jobrole %>" <% } %> />
            <span>Job role:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <label>
            <input type="text" name="salary" placeholder="Salary" maxlength="40" <% if(locals.salary){ %> value="<%= salary %>" <% } %> />
            <span>Salary:</span>
          </label>
          <p><span class="error"></span><span class="counter"></span></p>
          <p><span class="hint"></span></p>
        </div>
      </div>
      <div>
        <div class="field">
          <button class="button">Submit</button>
        </div>
      </div>
		</form>
	</div>
</main>
<%- include('partials/footer') %>
