<%- include('partials/header'); %>
<title>Edit <%= staff['Staff_name'] %></title>
<%- include('partials/layout'); %>
<main>
  <form action="/staffs/edit?id=<%= staff['Staff_id'] %>" method="post">
    <p>Name: <input type="text" name="name" value="<%= staff['Staff_name'] %>" disabled />    <span class="toggle"><a href="#!" onclick="">#</a></span></p>
    <p>Contact: <input type="text" name="contact" value="<%= staff['Staff_contact'] %>" disabled />    <span class="toggle"><a href="#!" onclick="">#</a></span></p>
    <p>Email: <input type="text" name="email" value="<%= staff['Staff_email'] %>" disabled />    <span class="toggle"><a href="#!" onclick="">#</a></span></p>
    <p>Address: <input type="text" name="address" value="<%= staff['Staff_address'] %>" disabled />    <span class="toggle"><a href="#!" onclick="">#</a></span></p>
    <p>Job Role: <input type="text" name="jobrole" value="<%= staff['Job_role'] %>" disabled />    <span class="toggle"><a href="#!" onclick="">#</a></span></p>
    <p>Salary: <input type="text" name="salary" value="<%= staff['Salary'] %>" disabled />    <span class="toggle"><a href="#!" onclick="">#</a></span></p>
    <p><button>Submit</button></p>
  </form>
</main>
<script type="text/javascript">
  const btns = document.querySelectorAll('span.toggle a');
  for(const a of btns) {
    a.addEventListener('click', function() {
      const input = this.parentElement.parentElement.querySelector('input');
      const bool = input.hasAttribute('disabled');
      bool ? input.removeAttribute('disabled') : input.setAttribute('disabled', true);
    });
  }
</script>
<%- include('partials/footer') %>
