<%- include('partials/header'); %>
<title>Staffs</title>
<%- include('partials/layout'); %>
<main>
  <% for (const staff of staffs) { %>
    <div>
      <p><span>Name: </span><span><%= staff['Staff_name'] %></span></p>
      <p><span>Contact: </span><span><%= staff['Staff_contact'] %></span></p>
      <p><span>Email: </span><span><%= staff['Staff_email'] %></span></p>
      <p><span>Address: </span><span><%= staff['Staff_address'] %></span></p>
      <p><span>Job role: </span><span><%= staff['Job_role'] %></span></p>
      <p><span>Salary: </span><span><%= staff['Salary'] %></span></p>
      <p><span><a href="/staffs/edit?id=<%= staff['Staff_id'] %>">Edit</a></span><span><a href="/staffs/delete?id=<%= staff['Staff_id'] %>">Delete</a></span></p>
    </div>
  <% } %>
  <div class="">
    <p><a href="/staffs/add">Add</a> staffs.</p>
  </div>
</main>
<%- include('partials/footer') %>
